body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.main {
    height: 80px;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;

}

.main nav {
    max-width: 1200px;
    padding: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.main .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main nav ul {
    list-style-type: none;
    display: flex;
}

.main nav ul a {
    text-decoration: none;
    color: white;
    margin: 0px 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.main nav ul a:hover {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}

.backg {
    background: url("/black.jpg") no-repeat;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    padding-top: 120px;
}

.content {
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 80px;
    font-weight: 700;
}

.content h4 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 40px;
}

.content .btns button {
    padding: 20px 80px;
    margin: 0 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.btns button:first-child:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

